[Desktop Entry]
Name=Mount USB Storage Devices
Version=v0.0.1
Icon=icon_usb
X-Icon-Path=/home/pi/FieldPrism/img/
Exec=sh /home/pi/FieldPrism/mount_usb_drives.sh
Terminal=true
Type=Application